<div class="center d-flex justify-content-center" style="font-size:13px; font-style:italic; font-weight:bold; color:#273746">
    You're viewing:
    &nbsp
    <ul class="breadcrumb" role="navigation" aria-label="breadcrumbs navigation">
        <li class="breadcrumb-item">
            <a class="no-underline" href="{{ site.baseurl }}/" title="{{ docs.source.path }}">
                <i class="fa fa-home"></i>
            </a>
        </li>
        {%- case page.url -%}
            {%- when "/search.html" -%}
                <li class="breadcrumb-item" aria-current="page">
                    {{ __.search | default: "Search" }}
                </li>
            {%- when "/404.html" -%}
                <li class="breadcrumb-item" aria-current="page">
                    404
                </li>
            {%- else -%}
                {%- assign blocks = page.path | split: "/" -%}
                {%- for block in blocks -%}
                    <li class="breadcrumb-item" {% if forloop.last %}aria-current="page"{% endif %}>
                        {%- if forloop.last -%}
                            {{ page.name }}
                        {%- else -%}
                            <a href="{{ site.baseurl }}/{% for block in blocks limit: forloop.index %}{{ block }}/{% endfor %}">{{ block }}</a>
                        {%- endif -%}
                    </li>
                {%- endfor -%}
        {%- endcase -%}
    </ul>
    &nbsp
    <a class="edit" href="{% github_edit_link %}" title="{{ __.edit | default: 'Edit on GitHub'}}" rel="noreferrer" target="_blank">
        <i class="fa fa-edit"></i>
    </a>
</div>
<div style="margin-top:10px;display:inline-block; font-size:13px; font-style:italic; font-weight:bold; color:#273746">
Feel like information is missing? Please send your suggestions for updates and improvements to <a href = "mailto:
paul.buhler@cern.ch">docadmin</a>. If you wish to contribute, you're very welcome! Please follow
the instructions <a
href="https://aliceo2group.github.io/analysis-framework/docs/introduction/guidelines.html">here</a>.
</div>
